<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Museum Inventory Application</title>
  </head>
  <body>
    <%- include('navbar') %>

    <h1 class="centered-header">Update city</h1>

    <% if (locals.cities) { %> <% cities.forEach(city => { %>
    <div class="form-container">
      <form action="/city/<%= city.city_id %>/update" method="POST">
        <div class="form-content">
          <label for="city_name">City Name</label>
          <input
            type="text"
            name="city_name"
            id="city_name"
            value="<%= city.city_name %>"
          />
        </div>
        <div class="form-content">
          <label for="city_image_url">City Image Url</label>
          <input
            type="text"
            name="city_image_url"
            id="city_image_url"
            value="<%= city.city_image_url %>"
          />
        </div>
        <div class="form-btn">
          <button class="delete-btn" type="submit">Submit</button>
        </div>
        <div><%- include('./partials/error.ejs') %></div>
      </form>
    </div>
    <% }) %> <% } else { %>
    <h1 class="centered-header">Create city</h1>

    <div class="form-container">
      <form action="/city/create" method="POST">
        <div class="form-content">
          <label for="city_name">City Name</label>
          <input type="text" name="city_name" id="city_name" />
        </div>
        <div class="form-content">
          <label for="city_image_url">City Image Url</label>
          <input type="text" name="city_image_url" id="city_image_url" />
        </div>
        <div class="form-btn">
          <button class="delete-btn" type="submit">Submit</button>
        </div>
        <div><%- include('./partials/error.ejs') %></div>
      </form>
    </div>
    <% } %>
  </body>
</html>
