<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Museums Inventory Application</title>
  </head>
  <body>
    <%- include('navbar') %>

    <h1 class="centered-header">Welcome to Dashboard!</h1>

    <main class="museum-main">
      <% museumsInformation.forEach(museum => { %>
      <section class="museum-section">
        <h2><%= museum.name %></h2>
        <p class="museum-history"><%= museum.history %></p>
        <li>
          <% categoriesInformation.forEach(category => { %>
          <a href="/category/<%= category.category_id %>"
            >Category: <%= category.category_name %></a
          >
          <% }) %>
        </li>
        <div class="image-container">
          <img src="<%= museum.image_url %>" alt="Museum Image" />
        </div>
        <% citiesInformation.forEach(city => { %>
        <p>City: <%= city.city_name %></p>
        <% }) %>
        <li>
          <a href="/museum/<%= museum.id %>">More details</a>
        </li>
      </section>

      <% }) %>
    </main>
  </body>
</html>
