<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Museum Inventory Application</title>
  </head>
  <body>
    <%- include('navbar') %>
    <h1 class="centered-header">Museum Details</h1>
    <main class="museum-main">
      <% museum.forEach(museumObj => { %>
      <section class="museum-section">
        <li>
          <a href="/museum/<%= museumObj.id %>/delete">Delete Museum</a>
          <a href="/museum/<%= museumObj.id %>/update">Update Museum</a>
        </li>
        <h2><%= museumObj.name %></h2>
        <p><%= museumObj.history %></p>
        <div class="image-container">
          <img src="" alt="Museum Image" />
        </div>
      </section>
      <% }) %>
    </main>
  </body>
</html>
